h1{
    text-align: center;
    font-size: 60px;
    color: #17a2b8;
    padding-bottom: 2%;

}

#filterForm {
    width: 20vw;
    margin:auto;
}
label{
    font-weight: bold;
}

#textDisplay{
    margin: auto;
    margin-top: 15vh;
    text-align: center;
}
#textDisplay >h2 {
    font-size: 3em;

}