<div style="height: 80%;padding-top: 2%;">
    <h1>Presentations</h1>
    <table class="presentationTable">
        <tr style="width: 100%;">
            <th class="tableHead"*ngFor="let month of this.months">{{month}}</th>
        </tr>
        <tr style="width: 100%;">
            <td *ngFor="let month of this.months;let i = index" class="tableColumn">
                <ul class="presentationList">
                    <ng-container *ngFor="let presentation of this.presentations">
                        <li *ngIf="getMonth(presentation.fromDate)==i && getYear(presentation.fromDate) == this.selectedYear" class="presentationCard">
                            <p class="title">{{presentation.title}}</p>
                            <p>{{presentation.fromDate | date : 'dd.MM.yyyy'}}</p>
                            <p>{{presentation.fromDate | date : 'HH:mm'}} - {{presentation.toDate | date : 'HH:mm'}}</p>
                            <p>{{presentation.location}}</p>
                        </li>
                    </ng-container>
                </ul>
            </td>
        </tr>
    </table>
    <div id="yearSelector">
        <table>
            <tr>
                <td>        
                    <button class="btn btn-info" (click)="previousYear()"><</button>
                </td>
                <td>        
                    <input type="text"[(ngModel)] = "selectedYear" style="width: 4vw;text-align: center;" class="form-control" disabled >
                </td>
                <td>        
                    <button class="btn btn-info" (click)="nextYear()">></button>
                </td>
            </tr>
        </table>
    </div>
</div>